<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>DMARC Analyzer  &mdash; {{ title }}</title>
    {% block header %}{% endblock header %}
  </head>
  <body>
      <header>
          <nav>
            <a href="/" title="DMARC Analyzer" id="titlebutton"><h1>DMARC Analyzer</h1></a>
            <details>
                <summary>Tasks</summary>
                <div class="dropdown-wrapper">
                    <a href="/fetch" title="Fetch reports" id="fetchbutton">Fetch reports</a>
                </div>
            </details>
          </nav>
      </header>
      <div>
      {% block content %}{% endblock content %}
      </div>
  </body>
</html>
