{% extends "base" %}

{% block content %}


{% if error %}
<section class="error">
Errors:
<pre>{{ error }}</pre>
</section>
{% else %}
<h2>Reports fetched!</h2>
{% endif %}
<h3>Log</h3>
<pre class="log">{{ log }}</pre>
{% endblock content %}
